/*
    basic style

 */



body {
    background-color: #fff;
    font-family: "Open Sans";
    margin: 0;
}

ol , ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure, p {
    margin: 0;
}

a {
    color: #fff;
}
a:focus, a:hover {
    color: #6CB670;
}

h1, h2,h3,
h4,h5,h6 {
    font-weight: normal;
    margin: 0;
}
.text-center {
    text-align: center;
}
/* header section */

.navbar .navbar-header .navbar-brand {
    color: Black;
    font-weight: 800;
}


/*hero bg section*/

#herobg {
    background-image: url("img/high-tech-wallpaper.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    /*background-attachment: fixed;*/
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: -2;
}

.hero-text {
    /*top: 50%;*/
    /*bottom: 50%;*/
    background-color: rgba(0,0,0,0.5);
    position:absolute;
    height: 100%;
    width: 100%;
    font-family: Ubuntu;
    z-index: -1;
}
.hero-text h3{
    color: #fff;
    font-family: Ubuntu;
    /*position: relative;*/
}
.hero-text p {
    color: #fff;
    font-family: Ubuntu;
}
.hero-text-overlay {
    margin-top: 150px;
    padding: 1px;

}
.hero-text .hero-text-overlay img {
    height: 100px;
    width: 100px;
    /*position: relative;*/

    border-radius: 50px;
}
.hero-text-overlay .social-link {}
.hero-text-overlay .social-link li {
    list-style: none;
    display: inline-block;
    padding: 5px;
}
.hero-text-overlay .social-link li a{}
.hero-text-overlay .social-link li a:hover{}